{% assign settings = section.settings %}

<h1 id="{{ section.id }}">{{ settings.heading }}</h1>

<section class="carousel">
  {% for block in section.blocks %}
    <h1>{{ block.settings.product.title }}</h1>
  {% endfor %}
</section>

{% schema %}
  {
    "name": "carousel",
    "class": "carousel",
    "tag": "section",
    "presets": [
      {
        "name": "carousel"
      }
    ],
    "settings": [
      {
        "type": "text",
        "label": "Heading",
        "default": "add a heading",
        "id": "heading"
      }
    ],
    "blocks": [
      {
        "name": "Carousel-Product",
        "type": "product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "product"
          }
        ]
      }
    ]
  }
{% endschema %}