<h1 id="{{ section.id }}">carousel</h1>

{% schema %}
  {
    "name": "carousel",
    "class": "carousel",
    "tag": "section",
    "presets": [
      {
        "name": "carousel"
      }
    ],
    "settings": []
  }
{% endschema %}