{{ 'image-gallery.css' | asset_url | stylesheet_tag }}

<h1 class="section-heading">{{ section.settings.heading }}</h1>

<span class="pictures-container">
  {% for block in section.blocks %}
    <img
      class="pictures-container__picture"
      src="https://images.unsplash.com/photo-1712675009273-5a6c46663fbb?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      width="400px"
      height="auto"
      alt="">
  {% endfor %}
</span>


{% schema %}
  {
    "name": "image gallery",
    "tag": "section",
    "class": "image-gallery",
    "settings": [
      {
        "type": "text",
        "label": "section's heading",
        "id": "heading",
        "default": "heading"
      }
    ],
    "blocks": [
      {
        "name": "image",
        "type": "image",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "image text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "image-gallery"
      }
    ]

  }
{% endschema %}